.col {
    width: calc(90% / 4);
  }
  
  .col-1 {
    width: calc(100% / 12 * 1);
  }
  .col-2 {
    width: calc(100% / 12 * 2);
  }
  .col-3 {
    width: calc(100% / 12 * 3);
  }
  .col-4 {
    width: calc(100% / 12 * 4);
  }
  .col-5 {
    width: calc(100% / 12 * 5);
  }
  .col-6 {
    width: calc(100% / 12 * 6);
  }
  .col-7 {
    width: calc(100% / 12 * 7);
  }
  .col-8 {
    width: calc(100% / 12 * 8);
  }
  .col-9 {
    width: calc(100% / 12 * 9);
  }
  .col-10 {
    width: calc(100% / 12 * 10);
  }
  .col-11 {
    width: calc(100% / 12 * 11);
  }
  .col-12 {
    width: calc(100% / 12 * 12);
  }

  :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray: #869ab8;
    --bs-gray-dark: #384c74;
    --bs-primary: #335eea;
    --bs-secondary: #506690;
    --bs-success: #42ba96;
    --bs-info: #7c69ef;
    --bs-warning: #fad776;
    --bs-danger: #df4759;
    --bs-light: #f9fbfd;
    --bs-dark: #1b2a4e;
    --bs-primary-desat: #6c8aec;
    --bs-black: #161c2d;
    --bs-white: #fff;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
}